{% extends "layout.html" %}

{% block content %}
    <h1>Actividades</h1>

    <div class="container">

        <!-- Añadir actividad -->
        <div class="card mt-3">
            <h5 class="card-header"><i class="fa-solid fa-chess-knight"></i>&nbsp;Añadir actividad</h5>
            <form action="/actividades" method="post">
                <div class="card-body">
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="descripcion" placeholder="Descripción..."
                                      id="descripcion"
                                      style="height: 100px" required></textarea>
                            <label for="descripcion">Descripción...</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="fecha-vencimiento" class="form-label">Fecha de vencimiento</label>
                        <input type="date" class="form-control" id="fecha-vencimiento" name="fecha-vencimiento"
                               placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha-limite" class="form-label">Fecha límite</label>
                        <input type="date" class="form-control" id="fecha-limite" name="fecha-limite"
                               placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="resumen" placeholder="Resumen..." id="resumen"
                                      style="height: 80px" required></textarea>
                            <label for="resumen">Resumen...</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="etapa" class="form-label">Tipo</label>
                        <select class="form-select" aria-label="Selecciona un tipo..." id="etapa" name="tipo">
                            <option value="compra" selected>Compra</option>
                            <option value="direccion">Dirección</option>
                            <option value="promocion">Promoción</option>
                            <option value="mejora">Mejora</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100"><i class="fas fa-plus-circle"></i>&nbsp;Añadir
                            actividad
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Tabla actividad -->
        <div class="card mt-3">
            <h5 class="card-header"><i class="fa-solid fa-game-board"></i>&nbsp;Lista de actividades</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="text-success">Id</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">Fecha límite</th>
                        <th scope="col">Resumen</th>
                        <th scope="col">Tipo</th>
                        <th scope="col" class="text-center text-primary">Editar</th>
                        <th scope="col" class="text-center text-danger">Borrar</th>
                    </tr>
                    </thead>
                    {% if actividades %}
                        <tbody>
                        {% for actividad in actividades %}
                            <tr>
                                <th scope="row" class="text-success">{{ actividad.id }}</th>
                                <td>{{ actividad.descripcion }}</td>
                                <td>{{ actividad.fecha_vencimiento }}</td>
                                <td>{{ actividad.fecha_limite }}</td>
                                <td>{{ actividad.resumen }}</td>
                                <td>
                                    {% if actividad.tipo == "compra" %}
                                        Compra
                                    {% elif actividad.tipo == "direccion" %}
                                        Dirección
                                    {% elif actividad.tipo == "promocion" %}
                                        Promoción
                                    {% elif actividad.tipo == "mejora" %}
                                        Mejora
                                    {% endif %}
                                </td>
                                <td class="text-center"><a class="text-primary"
                                                           href="/actividades/edit?id={{ actividad.id }}"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#modal-modificar-actividad"
                                                           onclick="abrirModalModificarActividad('{{ actividad.id }}', '{{ actividad.descripcion }}', '{{ actividad.fecha_vencimiento }}', '{{ actividad.fecha_limite }}', '{{ actividad.resumen }}', '{{ actividad.tipo }}')"><i
                                        class="fa-solid fa-square-pen"></i></a></td>
                                <td class="text-center"><a class="text-danger"
                                                           href="/actividades/delete?id={{ actividad.id }}"><i
                                        class="fa-solid fa-trash-can"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}

                </table>
            </div>
        </div>


        <!-- Modificar actividad -->
        <div class="modal fade" tabindex="-1" id="modal-modificar-actividad">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fa-solid fa-chess-pawn"></i>&nbsp;Modificar actividad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/actividades/edit" method="post">
                        <div class="modal-body">
                            <!-- cuerpo modal -->

                            <div class="mb-3">
                                <label for="id-modificar" class="form-label">Id</label>
                                <input type="text" class="form-control" value="0" id="id-modificar" name="id-modificar"
                                       placeholder="id" readonly>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <textarea class="form-control" name="descripcion-modificar" placeholder="Descripción..."
                                              id="descripcion-modificar"
                                              style="height: 100px" required></textarea>
                                    <label for="descripcion-modificar">Descripción...</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="fecha-vencimiento-modificar" class="form-label">Fecha de vencimiento</label>
                                <input type="date" class="form-control" id="fecha-vencimiento-modificar"
                                       name="fecha-vencimiento-modificar"
                                       placeholder="" required>
                            </div>
                            <div class="mb-3">
                                <label for="fecha-limite-modificar" class="form-label">Fecha límite</label>
                                <input type="date" class="form-control" id="fecha-limite-modificar" name="fecha-limite-modificar"
                                       placeholder="" required>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                            <textarea class="form-control" name="resumen-modificar" placeholder="Resumen..."
                                      id="resumen-modificar"
                                      style="height: 80px" required></textarea>
                                    <label for="resumen-modificar">Resumen...</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="etapa-modificar" class="form-label">Tipo</label>
                                <select class="form-select" aria-label="Selecciona un tipo..." id="etapa-modificar"
                                        name="tipo-modificar">
                                    <option value="compra" selected>Compra</option>
                                    <option value="direccion">Dirección</option>
                                    <option value="promocion">Promoción</option>
                                    <option value="mejora">Mejora</option>
                                </select>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Modificar
                                actividad
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/actividad.js"></script>


{% endblock %}