{% extends "layout.html" %}

{% block content %}
    <h1>Oportunidades</h1>

    <div class="container">
        <div class="card mt-3">
            <!-- modales -->
            <!-- Añadir listado de actividades -->
            <div class="modal fade" tabindex="-1" id="modal-anadir-actividades">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><i class="fa-solid fa-dice-five"></i>&nbsp;Añadir actividades</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- cuerpo modal -->
                            <div class="mb-3">
                                {% if actividades %}
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Descripción</th>
                                            <th>Escoger/No escoger</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listado-de-actividades">
                                        {% for actividad in actividades %}
                                            <tr>
                                                <td>{{ actividad.id }}</td>
                                                <td>{{ actividad.descripcion }}</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="escoger-actividad-{{ actividad.id }}">
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning">
                                        <i class="fa-solid fa-exclamation-triangle"></i>&nbsp;No hay actividades
                                        disponibles
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary cerrar-modal" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" id="anadirActividadesAOpotunidad"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Añadir
                                actividades a la oportunidad
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Añadir listado de clientes -->
            <div class="modal fade" tabindex="-1" id="modal-anadir-clientes">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><i class="fa-solid fa-users"></i>&nbsp;Añadir clientes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- cuerpo modal -->
                            <div class="mb-3">
                                {% if clientes %}
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Escoger/No escoger</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listado-de-clientes">
                                        {% for cliente in clientes %}
                                            <tr>
                                                <td>{{ cliente.id }}</td>
                                                <td>{{ cliente.nombre }}</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="escoger-cliente-{{ cliente.id }}">
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning">
                                        <i class="fa-solid fa-exclamation-triangle"></i>&nbsp;No hay clientes
                                        disponibles
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary cerrar-modal" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" id="anadirClientesAOpotunidad"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Añadir
                                clientes a la oportunidad
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- contenido -->
            <h5 class="card-header"><i class="fa-solid fa-thumbs-up"></i>&nbsp;Añadir oportunidad</h5>
            <form action="/" method="post">
                <div class="card-body">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 pt-2 pb-2">
                                <a class="btn btn-secondary w-100"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-anadir-actividades">
                                    <i class="fa-solid fa-dice-five"></i>&nbsp;Añadir actividades
                                </a>
                            </div>
                            <div class="col-md-6 pt-2 pb-2">
                                <a class="btn btn-secondary w-100"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-anadir-clientes">
                                    <i class="fa-solid fa-users"></i>&nbsp;Añadir clientes
                                </a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="actividades" id="listado-actividades" value="">
                    <input type="hidden" name="clientes" id="listado-clientes" value="">
                    <div class="mb-3">
                        <label for="etapa" class="form-label">Etapa</label>
                        <select class="form-select" aria-label="Selecciona una etapa..." id="etapa" name="etapa">
                            <option value="nuevo" selected>Nuevo</option>
                            <option value="calificado">Calificado</option>
                            <option value="propuesta">Propuesta</option>
                            <option value="ganada">Ganada</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="prioridad" class="form-label">Prioridad</label>
                        <select class="form-select" aria-label="Selecciona una prioridad..." id="prioridad"
                                name="prioridad">
                            <option value="baja" class="bg-success text-white" selected>Baja</option>
                            <option value="media" class="bg-warning text-dark">Media</option>
                            <option value="alta" class="bg-danger text-white">Alta</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ingreso" class="form-label">Importe en €:</label>
                        <input type="number" class="form-control" id="ingreso" name="ingreso"
                               placeholder="42000,00"
                               required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100"><i class="fas fa-plus-circle"></i>&nbsp;Añadir
                            oportunidad
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card mt-3">
            <h5 class="card-header"><i class="fa-solid fa-eye"></i>&nbsp;Ver oportunidades</h5>
            <div class="card-body">
                <div class="pt-2 pb-4">
                    <u>Etapas:</u>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nuevo-tab" data-bs-toggle="tab" data-bs-target="#nuevo"
                                type="button" role="tab" aria-controls="nuevo" aria-selected="true">Nuevo
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="calificado-tab" data-bs-toggle="tab" data-bs-target="#calificado"
                                type="button" role="tab" aria-controls="calificado" aria-selected="false">Calificado
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="propuesta-tab" data-bs-toggle="tab" data-bs-target="#propuesta"
                                type="button" role="tab" aria-controls="propuesta" aria-selected="false">Propuesta
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ganada-tab" data-bs-toggle="tab" data-bs-target="#ganada"
                                type="button" role="tab" aria-controls="ganada" aria-selected="false">Ganada
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="nuevo" role="tabpanel" aria-labelledby="nuevo-tab">
                        <!-- Nuevo -->
                        {% set hay_nuevo = false %}
                        {% if oportunidades %}
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ver actividades</th>
                                        <th>Ver clientes</th>
                                        <th>Prioridad</th>
                                        <th>Ingreso</th>
                                        <th>Editar</th>
                                        <th>Emilinar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for oportunidad in oportunidades %}
                                        {% if oportunidad.etapa == "nuevo" %}
                                            {% set hay_nuevo = true %}
                                            <tr>
                                                <td>{{ oportunidad.id }}</td>
                                                <td>Ver actividadades</td>
                                                <td>Ver clientes</td>
                                                <td>{{ oportunidad.prioridad }}</td>
                                                <td>{{ oportunidad.ingreso }}€</td>
                                                <td class="text-center"><a class="text-primary"
                                                                           href="/oportunidades/edit?id={{ oportunidad.id }}"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#modal-modificar-cliente"
                                                                           onclick="abrirModalModificarUsuario()"><i
                                                        class="fa-solid fa-square-pen"></i></a></td>
                                                <td class="text-center"><a class="text-danger"
                                                                           href="/oportunidades/delete?id={{ oportunidad.id }}"><i
                                                        class="fa-solid fa-trash-can"></i></a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        {% if hay_nuevo == false %}
                            <div class="p-4">
                                <div class="alert alert-warning text-center" role="alert">
                                    <strong>No hay oportunidades en nuevo</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="calificado" role="tabpanel" aria-labelledby="calificado-tab">
                        <!-- Calificado -->


                    </div>
                    <div class="tab-pane fade" id="propuesta" role="tabpanel" aria-labelledby="propuesta-tab">
                        <!-- Propuesta -->


                    </div>
                    <div class="tab-pane fade" id="ganada" role="tabpanel" aria-labelledby="ganada-tab">
                        <!-- Ganada -->


                    </div>
                </div>

            </div>


        </div>
    </div>

    <script src="../static/js/oportunidad.js"></script>


{% endblock %}